    <footer>
      {% if app.wide %}
        <div class="container-fluid position-relative" id="container">
      {% else %}
        <div class="container position-relative" id="container">
      {% endif %}
        <hr>
        <div class="row">
          <div class="col">
            <p class="text-muted">All times are UTC</p>
            <p class="text-muted">Data presented here should be treated as preliminary and non-operational</p>
          </div>
          <div class="col">
            <samp class="text-muted" id="clock">{{app.currentDate}}</samp>
          </div>
        </div>
        {% if app.constants.DEBUG %}
        <div class="row">
          <div class="col">
            {{dump(user)}}
          </div>
        </div>
        {% endif %}
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js" integrity="sha256-2/3+Q1kMYR8MDaqFPNBgmLgiqWJjySkg1wqLx/iE5Zo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js" integrity="sha256-FJZOELgwnfQRdG8KZUSWCYgucECDf4w5kfQdQSGbVpI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@0.3.18/marked.min.js"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.sort').tablesorter();
      });
      moment.locale('en');
      moment.tz.setDefault("Universal");
      $('time').each(function(){
        timestring = $(this).attr('datetime');
        var mom = moment(timestring);
        var now = moment();
        $(this).text(mom.from(now));
      });
      setInterval(function() {
        var clock = document.querySelector('#clock');
        var date = new Date();
        var month = ('0'+(date.getUTCMonth()+1)).slice(-2);
        var days = ('0'+date.getUTCDate()+'').slice(-2);
        var seconds = ('0'+date.getUTCSeconds()+'').slice(-2);
        var minutes = ('0'+date.getUTCMinutes()+'').slice(-2);
        var hours = ('0'+date.getUTCHours()+'').slice(-2);
        var year = date.getUTCFullYear();
        clock.textContent = hours+':'+minutes+':'+seconds+' '+days+'.'+month+'.'+year;
      }, 1000);
      md = document.querySelectorAll(".md");
      md.forEach(function(m){
        txt = m.innerHTML;
        m.innerHTML = marked(txt);
      });
      $('#parseLogs').click(function(e){
        e.preventDefault();
        console.log('Dispatching log parser script...');
        $(this).toggleClass('disabled')
        $(this).text('Parsing, please wait...')
        $.ajax({
          'url': $(this).attr('href')
        }).done(function(e){
          console.log(e);
          var html = "<a href='"+window.location.href+"' class='btn btn-success'>Click to view</a>";
          $(html).insertAfter('#parseLogs');
          $('#parseLogs').hide();
        })
      })
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    {% if user.level >= 2 %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.4/jquery.typeahead.min.js"></script>
    <script>
    $("#tgdbsearch").submit(function(e){
      e.preventDefault();
    });

    $.typeahead({
      input: '#tgdbsearch',
      minLength: 2,
      order: 'desc',
      source: {
        ajax: {
          url: '{{app.url}}tgdb/tgdbsuggest.php',
          data: {
            query: '{{query}}'
          }
        }
      },
      dynamic: true,
      debug: true,
      hint: true,
      mustSelectItem: true,
      display: ['ckey'],
      href: function (item) {
        return "viewPlayer.php?ckey=" + item.ckey
      },
      callback: {
        onClickAfter: function (node, a, item, event) {
          event.preventDefault;
          window.location.href = item.href;
        }
      }
    })

    </script>
    {% endif %}
    {% block js %} {% endblock %}
  </body>
</html>