<!DOCTYPE html>
<html>
<head>
  <title>{{statbus.app_name}} {% block pagetitle %}{% endblock %}</title>
  {% include 'base/common/header.html' %}
</head>
<body>
  {% block nav %} {{ include('base/nav.tpl') }} {% endblock %}
  <main role="main">
    <div class="container{% if wide is defined and wide %}-fluid{% endif %} position-relative" id="container">
      {{alert|raw}}
      {% if breadcrumbs is defined and breadcrumbs|length > 1 %}
        {% set nav = breadcrumbs %}
        {% include('components/breadcrumbs.html') with nav %}
      {% endif %}
      {% if classified is defined and classified %}
      <div class="alert alert-warning">
        Information in TGDB should be considered <strong>TLP:://AMBER</strong>, unless otherwise noted.
      </div>
      {% endif %}
      {% block content %} {% endblock %}
    </div>
  </main>
  <footer>
    <div class="container{% if wide is defined and wide %}-fluid{% endif %} position-relative" id="container">
      <hr>
      <div class="row">
        <div class="col">
          <p class="text-muted">All times are UTC</p>
          <p class="text-muted">Data presented here should be treated as preliminary and non-operational</p>
        </div>
        <div class="col">
          {% if settings.bug_reports %}
          <p class="text-muted">Found a bug? Have a feature request? Report it <a href="{{settings.bug_reports}}" target="_blank" rel="noopener noreferrer">here</a>.</p>
          {% endif %}
          <samp class="text-muted" id="clock">{{app.currentDate}}</samp>
        </div>
      </div>
    </div>
  </footer>
  {% include 'base/common/footer.html' %}
  {% block js %}
  {% endblock %}
</body>
</html>