<ul class="nav justify-content-center">
    <li class="nav-item">
    <a class="nav-link" href="{{path_for('ticket.index')}}">
      <span class="badge badge-danger">NEW!</span> <i class="fas fa-ticket-alt"></i>
       Ticket DB
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{path_for('message.index')}}">
      <i class="fas fa-sticky-note"></i>
      Note DB
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{path_for('name2ckey')}}">
      <i class="fas fa-user"></i>
      Character Search
    </a>
  </li>
</ul>
<hr>