<span title="Brute"  data-toggle="tooltip" class="badge badge-dam badge-brute">{{death.vitals.brute|default('BRU')}}</span>
<span title="Brain"  data-toggle="tooltip" class="badge badge-dam badge-brain">{{death.vitals.brain|default('BRA')}}</span>
<span title="Fire"   data-toggle="tooltip" class="badge badge-dam badge-fire">{{death.vitals.fire|default('FIR')}}</span>
<span title="Oxygen" data-toggle="tooltip" class="badge badge-dam badge-oxy">{{death.vitals.oxy|default('OXY')}}</span>
<span title="Toxin"  data-toggle="tooltip" class="badge badge-dam badge-tox">{{death.vitals.tox|default('TOX')}}</span>
<span title="Clone"  data-toggle="tooltip" class="badge badge-dam badge-clone">{{death.vitals.clone|default('CLN')}}</span>
<span title="Stamina"data-toggle="tooltip" class="badge badge-dam badge-stamina">{{death.vitals.stamina|default('STM')}}</span>